$darker-bg: #1f1f1f;
$dark-bg: #282828;
$primary: #98971a;
$orange: #d65d0e;
$gray: #928374;

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: $darker-bg;
  font-size: 1.7em;
  transition: width 600ms ease;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    li {
      position: relative;

      a {
        padding: 1.5rem;
        color: $primary;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        filter: grayscale(100%);
        transition: 300ms;
        svg {
          transition: opacity 0.5s ease-in-out;
        }
        &:hover {
          svg {
            opacity: 0.2;
          }

          .link-text {
            opacity: 1;
          }
          filter: grayscale(0%);
        }
      }
      &:last-child {
        margin-top: auto;
      }
    }
  }
}

.active {
  filter: grayscale(0%) !important;
}
.link-text {
  position: absolute;
  text-align: center;
  flex: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-shadow: 0 0 3px $primary;
  font-size: 0.5em;
  white-space: nowrap;
}

.burger {
  position: absolute;
  font-size: 1.5em;
  opacity: 0;
  width: 2rem;
  top: 1rem;
  left: 1.5rem;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .closed {
    width: 0;
    * {
      width: 0;
    }
    .link-text {
      visibility: hidden;
    }
  }

  .navbar {
    font-size: 1.3em;
    padding-top: 1rem;
    .burger {
      position: relative;
      padding-top: 1rem;
      display: contents;
      font-size: 0.9em;
    }
  }

  .link-text {
    position: relative;
    text-align: center;
    flex: 100%;
    opacity: 1;
    transition: 0;
    text-shadow: 0 0 3px $primary;
    font-size: 0.5em;
    white-space: nowrap;
  }

  .open {
    width: 5rem;
    * {
      width: 5rem;
    }
  }
  main {
    margin: 0;
  }

  .burger {
    opacity: 100;
  }

  .burger-closed {
    display: block;
  }

  .skills {
    grid-template-columns: 1fr;
  }
}
