$darker-bg: #1f1f1f;
$dark-bg: #282828;
$primary: #98971a;
$orange: #d65d0e;
$gray: #928374;

:root {
  font-size: 25px;
  color: whitesmoke;
  font-family: Rokkitt;
}

body {
  * {
    box-sizing: border-box;
  }
  background-color: $dark-bg;
}

.skills {
  font-size: 3em;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
  }
  h3 {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
  }
}

main {
  margin-left: 5rem;
  padding: 2rem;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: $gray;
}

body::-webkit-scrollbar-thumb {
  background: $gray;
  background: $orange;
}

.pic {
  width: 10rem;
  height: 10rem;
  border-radius: 500px;
}

@media screen and (max-width: 900px) {
  main {
    margin: 0;
  }

  .skills {
    grid-template-columns: 1fr;
  }
}

.title {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
