$darker-bg: #1f1f1f;
$dark-bg: #282828;
$primary: #98971a;
$orange: #d65d0e;
$bright-orange: #fe8019;
$gray: #928374;




@media screen and (max-width: 900px) {
  main {
    margin: 0;
  }

  .skills {
    grid-template-columns: 1fr;
  }
}

.title {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input {
  width: 9rem;
  background: none;
  height: 2rem;
}

