$dark-bg: #322f3d;

:root {
  font-size: 16px;
}

.skills {
  font-size: 3em;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-track {
  background: green;
}

body::-webkit-scrollbar-thumb {
  background: purple;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: $dark-bg;
  font-size: 2em;
  color: green;
}
.navbar > ul {
  list-style: none;
}
